@import "../../styles.scss";

.post {
  @include themify($themes) {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");

    display: flex;
    flex-direction: column;
    gap: 30px;

    .container {
      padding: 20px 30px;
      @include mobile {
        padding: 20px 15px;
      }

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userInfo {
          display: flex;
          gap: 20px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            display: flex;
            flex-direction: column;

            .name {
              font-weight: 500;
              &:hover {
                font-weight: 600;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: themed("border");
              }
            }

            .date {
              font-size: 12px;
            }
          }
        }
      }

      .content {
        margin: 20px 0px;

        p {
          font-size: 14px;
          font-weight: 400;
        }

        img {
          width: 100%;
          max-height: 500px;
          object-fit: cover;
          margin-top: 20px;
        }
      }

      .info {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        cursor: pointer;
        font-size: 14px;
        @include mobile {
          width: 100%;
        }

        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
